$color1: white;
$color2: #333;
$color3: #fccf08fd;
$color4: rgba(245, 207, 40, 0.993);
$color5: #fcfcfc;
$colorTransparent: rgba(0,0,0,0.2);
$colorTransparent2: rgba(0,0,0,0.7);


// paddings
$paddingTopBottom: 5px 0;
$paddingTopBottom2: 15px 0;
$paddingTopBottom3: 30px 0;

$paddingLeftRight: 0 10px;
$paddingLeftRight2: 0 15px;
$paddingLeftRight3: 0 20px;

$paddingAll: 10px;
$paddingAll2: 20px;
$paddingAll3: 30px;


// margins
$marginTopBottom: 10px 0;
$marginTopBottom2: 14px 0;
$marginTopBottom3: 20px 0;

$marginLeftRight:  0 10px;
$marginLeftRight2: 0 20px;
$marginLeftRight3: 0 25px;
 
$marginAll: 10px;
$marginAll2: 20px;
$marginAll3: 30px;


$fuenteText: 'Poppins', Verdana, Geneva, Tahoma, sans-serif; 
$fuenteTitle: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;

$titleSize: 1.7rem ;